@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: blue;
}

.app {
  background-color: rgb(45, 44, 45);
  color: white;
  min-height: 100vh;
}


.appbar-select {
  width: 100px;
  height: 40px;
  margin-left: 15px;
}

.page_number{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  padding: 16px;
  text-align: center;
  z-index: 999;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-top: 16px;
}

.symbols-btn{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat';
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 80%;
}

.proposal-btn{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat";
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 95%;
}

.proposal-options{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat";
  cursor: pointer;
  font-weight: bold;
  width: 45%;
}

.proposal-card{
  background-color: rgb(177, 194, 233);
  margin: 15px;
  margin-right: 35px;
  border-radius: 10px;
  padding: 10px;
  line-height: 135%;
  font-family: 'Montserrat';
}

.product-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .product-container {
    flex-direction: row;
  }

  .proposal-card{
  margin-right: 15px;
  }
}

.auth-button {
  background-color: #a404b3;
  border: 5px solid white;
  color: black;
  font-family: VT323;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}

.auth-form{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    display: flex;
    justify-content: center;
  }
  p{
    display: flex;
    justify-content: center;
  }
  form{
    display: flex;
    flex-direction: column;
    input{
      margin: 1rem;
      height: 2rem;
      border-radius: 0.5rem;
      padding: 0.2rem;
    }
    button{
      margin: 2rem 5rem;
      height: 3rem;
      border-radius: 1.5rem;
      color: #ffff;
      font-weight: bold;
      border: solid 3px white;
      background-image: linear-gradient(#2b0432 0, #0c0d0d 100%);
  display: flex;
  position: relative;
  width: 10vw;
  align-self: center;
  justify-content: center;
  align-items: center;
  &:hover{
    background-image: linear-gradient(92.83deg, #a404b3 0, #770282 100%);
    cursor:pointer;
  }
    }
  }
}

.header-main{
  background-color: black;
  width: 100%;
}

// .header-container{
//   // padding: 1vw;
// }

.header-nav{
  display: flex;
  align-items: center;
}

.header-title{
  flex: 1;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.2vw;
  cursor: pointer;
  padding: 0.5vw 3vw;
}

.header-title:hover{
  color: #0038d2;
}

.banner-main{
  position: relative;
  /* background-image: url("./assets/banner.jpg"); */
  background-size: cover;
  background-color: #1e1e1e;
  height: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
}

.banner-container{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

.banner-title{
  font-weight: bold;
  margin-bottom: 1vw;
  font-family: 'Montserrat';
  font-size: 8vw;
  color: white;
  text-shadow: 0.2vw 0.3vw #0033ff;
}

.banner-tagline{
  font-weight: 500;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 1.8vw;
  text-transform: capitalize;
}

.banner-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image{
  height: 30vw;
  z-index: 2;
}

.banner-btn{
  border: 1px solid blue;
  border-radius: 1vw;
  margin: 4vw 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.8vw;
  font-family: "Montserrat";
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: 500;
  width: 100%;

  &:hover{
    transform: scale(1.1);
  }
}

.sidebar{
  &-container {
    width: 350px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
  };
  &-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 92%;
  };
  &-logout {
    height: 3vw;
    width: 100%;
    background-color: #0033ff;
    margin-top: 20px;
  };
  &-picture {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: #0033ff;
    object-fit: contain;
  };
}

.auth-modal{
  &-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  };
  &-paper {
    width: 400px;
    background-color: white;
    color: white;
    border-radius: 10px;
  };
  &-google {
    padding: 24px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 20px;
  }
}

.livedata-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

// .livedata-chart{
//   height: 2vw
// }

.news-card{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.news-carousel{
  display: flex;
  align-items: center;
  padding: 40px;
  max-width: 100%;

  div{
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  img{
    height: 16vw;
    width: 26vw;
    opacity: 80%;
    border-radius: 1vw;
  }

  span{
    position: absolute;
    width: 26vw;
    height: 16vw;
    border-radius: 1vw;
    color: white;
    font-family: 'Montserrat';
    padding: 1vw;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

  ul{
    list-style-type: none;
    display: flex;
  }
}

.news-span{
  display: flex;
  justify-content: space-between;
  margin:2vw 1vw 0 1vw;
  font-family: 'Montserrat';
}


.newspage-header {
  height: 30vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/newspaper.jpg");
  background-size: cover;
  filter: grayscale(100%);
}

.newspage-card{
  display: flex;
  flex-direction: row;
}

.newspage-text{
  margin: 10vw 0 0 10vw;
  max-width: 40vw;
  text-align: justify;
  color: #ffffff;
}

.newspage-title{
  margin-left: 3vw;
  top: 0;
  left: 0;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 10vw;
  opacity: 20%;
  position: absolute;
}