@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto';
}

.light {
  background-color: white;
  color: black;
  transition: all 0.8s ease-in;
}

.dark {
  background-color: #1c1c1c;
  color: lightgray;
  transition: all 0.8s ease-in;
}

a {
  text-decoration: none;
  color: blue;
}

.app {
  background-color: rgb(45, 44, 45);
  color: white;
  min-height: 100vh;
  z-index: 0;
}

.appbar-select {
  width: 100px;
  height: 40px;
  margin-left: 15px;
}

.ts-particles {
  z-index: -1;
  position: absolute;
}

.page_number {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  padding: 16px;
  text-align: center;
  z-index: 999;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-top: 16px;
}

.symbols-dropdown {
  border: 1px solid #0033ff;
  border-radius: 10px;
  margin: 1.5vw 0 1vw 3vw;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.charts-area {
  margin: 0 1vw 5vw 1vw;
}

.proposal-btn-choices-fab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proposal-btn-span {
  display: flex;
  align-items: center;
}

.proposal-btn-buy {
  border-radius: 6px;
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Roboto";
  cursor: pointer;
  color: white;
  width: 260px;

  &.higher {
    border: 1px solid green;
    background-color: green;

    &:hover {
      background-color: rgb(1, 94, 1);
    }

    &.processing {
      background-color: gray;
      border: gray;
    }
  }

  &.lower {
    border: 1px solid red;
    background-color: red;

    &:hover {
      background-color: rgb(189, 1, 1);
    }

    &.processing {
      background-color: gray;
      border: gray;
    }
  }
}

.proposal-btn-group {
  display: flex;
  margin: 0 1vw;
}

.proposal-options {
  border: 0.2vw solid blue;
  border-radius: 0.5vw;
  margin: 0.2vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  font-family: "Roboto";
  cursor: pointer;
  width: 90%;
}

.proposal-card {
  background-color: rgb(177, 194, 233);
  margin: 15px;
  margin-right: 35px;
  border-radius: 10px;
  padding: 10px;
  line-height: 135%;
  font-family: 'Roboto';
}

.proposal-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}

.proposal-input-btn {
  width: 10%;
  font-size: 50px;
  font-family: "Roboto";
  cursor: pointer;
  background-color: transparent;

  &.right {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    font-size: 20px;
    padding: 10px;
  }

  &.left {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    font-size: 20px;
    padding: 10px;
  }

  &:hover {
    background-color: rgb(241, 245, 247);
    border: 0.2vw solid black;
  }
}

.proposal-input-field {
  width: 80%;
  font-family: "Roboto";
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .product-container {
    flex-direction: row;
  }

  .proposal-card {
    margin-right: 15px;
  }
}

.auth-button {
  background-color: #a404b3;
  border: 5px solid white;
  color: black;
  font-family: VT323;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    display: flex;
    justify-content: center;
  }

  p {
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin: 1rem;
      height: 2rem;
      border-radius: 0.5rem;
      padding: 0.2rem;
    }

    button {
      margin: 2rem 5rem;
      height: 3rem;
      border-radius: 1.5rem;
      color: #ffff;
      font-weight: bold;
      border: solid 3px white;
      background-image: linear-gradient(#2b0432 0, #0c0d0d 100%);
      display: flex;
      position: relative;
      width: 10vw;
      align-self: center;
      justify-content: center;
      align-items: center;

      &:hover {
        background-image: linear-gradient(92.83deg, #a404b3 0, #770282 100%);
        cursor: pointer;
      }
    }
  }
}

.hamberger-menu {
  margin-right: 0.5vw;
  cursor: pointer;
  display: none;
}

.navbar-container {
  width: 100%;
  z-index: 3;
}

.navbar-main {
  display: flex;
  align-items: center;
  z-index: 3;
}

@media (max-width: 768px) {
  .navbar-main .navbar-icon {
    display: block;
  }

  .navbar-item {
    display: none;
  }

  .hamberger-menu {
    display: block;
  }

  .navbar-login-btn {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar-balance {
    display: none;
  }
}

.navbar-logo {
  width: 40px;
  margin-left: 2vw;
  cursor: pointer;
}

.navbar-logo:hover {
  transform: rotate(45deg);
}

.navbar-title {
  flex: 1;
  font-family: 'Roboto';
  cursor: pointer;
  padding: 15px 0;

  &:hover {
    color: #3366ff;
  }
}

.navbar-auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.navbar-balance {
  width: 100%;
  text-align: center;
  margin: 5px 10px;
  font-family: 'Roboto';
}

.navbar-item {
  flex: 1;
  font-family: 'Roboto';
  cursor: pointer;

  &:hover {
    color: #3366ff;
  }
}

.banner-main {
  height: 820px;
}

.banner-title {
  font-weight: 500;
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-size: 50px;
}

.banner-tagline {
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 25px;
  margin-bottom: 0;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  height: 740px;
  z-index: 3;
  top: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 1068px) {
  .banner-image {
    transform: scale(75%) translateX(15%) !important;
    transition: all 0.5s ease;
  }
}

@media (max-width: 900px) {
  .banner-image {
    position: unset;
    transform: scale(65%) translate(10%, -20%) !important;
    transition: all 0.5s ease;
  }

  .banner-text {
    transform: translateY(15%) !important;
  }
}

@media (max-width: 656px) {
  .banner-image {
    display: none;
  }

  .banner-main {
    height: 400px !important;
  }
}

@media (max-width: 425px) {
  .banner-title {
    font-size: 45px;
  }

  .banner-tagline {
    font-size: 16px;
  }

  .banner-btn {
    transform: scale(0.75);
  }
}

.banner-btn {
  border: 1px solid #0b67ed;
  border-radius: 10px;
  margin: 25px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Roboto";
  cursor: pointer;
  background-color: #0b67ed;
  color: white;
  width: 300px;

  &:hover {
    transform: scale(1.1);
  }
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-card {
  position: relative;
  width: 100%;
  height: 450px;
  border: 1px;
  max-height: 900;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 2;
}

.header-card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.header-card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8%;

  &.right {
    margin-right: 65%;
  }

  &.left {
    margin-left: 65%;
  }
}

@media (max-width: 900px) {
  .header-content {
    font-size: 16px !important;
  }

  .header-name {
    font-size: 28px !important;
  }
}

@media (max-width: 656px) {
  .header-card-content {
    &.right {
      margin-right: 35%;
    }

    &.left {
      margin-left: 35%;
    }
  }

  .header-card {
    height: 250px;
  }
}

.live-data-title {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

.live-data-btngroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .sidebar-container {
    width: 260px !important;
  }
}

.sidebar {
  &-container {
    width: 350px;
    padding: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
  }

  &-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &-logout {
    height: 40px;
    width: 100%;
    background-color: #0033ff;
    margin-top: 20px;
  }

  &-picture {
    width: 10vw;
    object-fit: contain;
    margin-right: 10px;
  }

  &-item {
    cursor: pointer;
    font-family: 'Roboto';
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #888;

    &:hover {
      color: #0033ff;
    }
  }

  &-leaderboard {
    cursor: pointer;
    margin: 1vw 0;
    font-family: 'Roboto';

    li {
      font-size: 0.8vw;
    }
  }
}

.leaderboard-main {
  margin: 3vw;
  font-family: 'Roboto';
}

.leaderboard-list {
  transform: translate(0, -15vw)
}

.leaderboard-tthree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-modal {
  &-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-paper {
    width: 400px;
    background-color: white;
    color: white;
    border-radius: 10px;
  }

  &-google {
    padding: 24px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 20px;
  }
}

.livedata-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
}

.news-search {
  margin: 3vw 6vw 0 6vw;
  display: flex;
  justify-content: center;
  width: 88%;
}

.news-searchbox {
  width: 90%;
  height: 3vw;
  padding: 1vw;
  font-size: 16px;
  border-radius: 1vw;
  border: 0.2vw solid #3366ff;
  transition: width 0.5s ease;
}

.news-search.focused {
  width: 92%;
  transition: width 1s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-175%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: -2vw;
}

.next-button {
  right: -2vw;
}

.news-title {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.news-card-row {
  justify-content: center;
  align-items: center;
  margin: 3vw;
}

.news-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
  margin: 3vw 1vw;
  &:hover {
    opacity: 80%;
  }
}

@media (max-width: 640px) {
  .news-card {
    flex-direction: column;
  }
}

.news-imagebox {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 100px;
  width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.news-image {
  border-radius: 10px;
  margin: 10px 0;
  width: 200px;
  height: 100px;
  background-size: cover;
  object-fit: cover;
}

.news-carousel {
  div {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  img {
    height: 180px;
    width: 360px;
    border-radius: 10px;
  }

  span {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;
    width: 360px;
    height: 180px;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 70%);
  }

  ul {
    list-style-type: none;
    display: flex;
  }
}

@media (max-width: 425px) {
  .news-carousel {
    img {
      height: 120px;
      width: 240px;
      border-radius: 5px;
    }

    span {
      width: 240px;
      height: 120px;
      border-radius: 5px;
      font-size: 12px;
      padding: 5px;
    }
  }
}

.news-span {
  display: flex;
  justify-content: space-between;
  margin: 2vw 1vw 0 1vw;
  font-family: 'Roboto';
}

.newspage-card {
  display: flex;
  flex-direction: row;
}

.newspage-text {
  margin: 10vw 0 0 10vw;
  max-width: 40vw;
  text-align: justify;
  color: #ffffff;
}

.newspage-title {
  margin-left: 3vw;
  top: 0;
  left: 0;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 10vw;
  opacity: 20%;
  position: absolute;
}

.trade-intro-main {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trade-intro-img {
  height: 550px;
  position: absolute;
  transform: translateY(-300px);
  z-index: 0;
}

@media (max-width: 900px) {
  .trade-intro-img {
    transform: scale(0.8) translate(-250px, -300px);
    transition: all 1s ease;
    opacity: 60%;
  }
}

@media (max-width: 680px) {
  .trade-intro-img {
    transform: scale(0.4) translate(-650px, -300px);
    transition: all 1s ease;
  }

  .trade-intro-box {
    transform: scale(0.6) translate(-100px, -100px);
  }
}

@media (max-width: 320px) {
  .trade-intro-img {
    transform: scale(0.2) translate(-1500px, -900px);
    transition: all 1s ease;
  }

  .trade-intro-box {
    transform: scale(0.4) translate(-200px, -100px);
  }

  .trade-intro-main {
    height: 300px;
  }
}

.trade-intro-box {
  z-index: 3;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  margin: 60px;
  width: 500px;
}

.trade-intro-btn {
  border: none;
  border-radius: 10px;
  margin: 40px 60px 40px 0;
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto";
  cursor: pointer;
  background-color: #0b67ed;
  color: white;
  width: 300px;

  &:hover {
    transform: scale(1.1);
  }
}

.footer {
  background: #000;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 0px;
  padding: 0.5rem 0;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-bottom p {
  margin-bottom: 0px;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.trade-info-left img {
  max-width: 100%;
  max-height: 500;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.trade-info-right h2 {
  bottom: 50px;
  z-index: 2;
  color: #000;
  padding: 10px;

}

.trade-info-container {
  display: flex;
  align-items: center;
}

.trade-info-left1 img {
  max-width: 100%;
  max-height: auto;
  height: 500px;
  height: cover;

}

.trade-info-left1 {
  flex: 1;
  padding-right: 20px;
}

.trade-info-left {
  flex: 1;
  padding-right: 20px;
}

.trade-info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-info-right p {
  margin-bottom: 20px;
}

.register-button1 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ae0d0d;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.register-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ae0d0d;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.register-button:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 80%);
  transform: translate(-25%, -25%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.register-button:hover:before {
  opacity: 1;
}

.register-button:hover {
  background-color: #a90e0e;
}

.topic-buttons {
  width: 100%;
  display: flex;

  button {
    margin: 0.5vw;
    width: 100%;
    height: 2vw;
    border-radius: 0.5vw;
    cursor: pointer;
  }
}

.footer {
  background: #000;
  color: #fff;
  padding: 2rem 0;
  margin-bottom: 0;
}

.footer-container {
  margin-left: 0px;
  margin-right: 0px;
}

.scroll-to-top {
  position: absolute;
  bottom: -154%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: #fff;
  background-color: #838080;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top i {
  font-size: 22px;
}

.ft-1 {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-1 img {
  width: 250px !important;
}

.ft-4 img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 40px;
}

.footer-bottom p {
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

.section-aboutus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.background-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.about-us {
  font-weight: 400;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  font-weight: 400;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px -10px;
}

.column {
  position: relative;
  flex: 0 0 20%;
  max-width: 25%;
  padding: 0 15px;
  margin-bottom: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 16vw;
  text-align: center;
  z-index: 999;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #000;
  margin: 10px;
}

.card img {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.container h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.container p {
  margin-bottom: 25px;
}

.backgroundCircleTopLeft {
  position: absolute;
  top: -39%;
  left: -10%;
  width: 900px;
  height: 900px;
  border-radius: 450px;
  background: hsla(220, 57%, 70%, 0.6);
  z-index: -1;
}

.backgroundCircleBottomRight {
  position: absolute;
  bottom: -85%;
  right: -10%;
  width: 75vw;
  height: 75vw;
  border-radius: 50%;
  background: #6699ff;
  z-index: 0;
}

.trade-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 30vw;
  height: 350px;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 80%;
}

.trade-title {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.title-icon-tradetype {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;

}

.title-icon-tradetype img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.title-icon-tradetype h3 {
  font-size: 25px;
}

.trade-carousel {
  margin-top: 80px;

}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-content p {
  font-size: 22px;
  color: #000;
  margin-top: -40px;
  line-height: 26.63px;
  text-justify: inter-word;
}


@media (max-width: 1124px) {
  .card-content p {
    font-size: 16px;
  }

  .title-icon-tradetype {
    width: 20px;
  }

  .title-icon-tradetype h3 {
    font-size: 20px;
  }
}

@media (max-width: 890px) {
  .card-content p {
    font-size: 12px;
  }

  .title-icon-tradetype {
    width: 16px;
  }

  .title-icon-tradetype h3 {
    font-size: 16px;
  }

  .title-icon-tradetype img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  .trade-card {
    width: 200px;
  }

  .title-icon-tradetype h3 {
    font-size: 14px;
  }
}

.proposal-ticks {
  display: flex;
  margin: 1vw;
  justify-content: center;
  align-items: center;
}

.duration-change-btn {
  box-sizing: border-box;
  flex: 1;
  cursor: pointer;
  width: 1.5vw;
  height: 1.5vw;
  background: #000;

  transform: translate(-50%, 0%);
  z-index: 2;
  accent-color: #3366ff;
}

.duration-change-slider {
  width: 100%;
}

.screenshot-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-self: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.screenshot-popup img {
  max-height: 80vh;
  max-width: 80vw;
}

.screenshot-popup button {
  position: absolute;
  top: 0;
  right: 0.5vw;
  margin: 1vw;
  padding: 0.5vw 1vw;
  border: 0.2vw solid #ffff;
  font-weight: bold;
  border-radius: 50%;
  font-size: 1vw;
  cursor: pointer;
  background-color: transparent;
  color: white;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 425px) {
  .quote-price-modal {
    transform: scale(0.5) translate(-500px, -250px) !important;
  }

  .change-pwd-modal {
    transform: scale(0.6) translate(-335px, -600px) !important;
  }
}

@media (max-width: 767px) {
  .back-top-btn {
    padding: 10px !important;
  }
}

@media (max-width: 425px) {
  .account-container {
    transform: scale(0.65) translate(-110px, -120px);
    height: 400px !important;
  }
}

.account {
  &-container {
    width: 420px;
    padding: 0 25px;
    height: 625px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
  }

  &-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-logout {
    height: 3vw;
    width: 100%;
    background-color: #0033ff;
    margin-top: 20px;
  }

}

.watermark {
  right: 0;
  bottom: 0;
  // top: 50px;
  position: absolute
}

.leaderboard-award {
  right: 27.1vw;
  bottom: 0;
  top: 22vh;
  height: 30vw;
  width: 45vw;
  position: absolute
}

.pricecandle-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 30px 10px 10px 10px;
}


.pricetick-container {
  margin: 30px 10px 10px 10px;
}

.price-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px
}

.enquiry-container {
  height: 600px;
}

.enquiry-container h5 {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form-container {
  max-width: 900px;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 10%;
}

.form-field1 {
  border-radius: 40px;
}

.form-field2 {
  border-radius: 40px;
}

.enquiry-title {
  font-size: 20px;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 20px;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}

.faq-title h5 {
  font-size: 20px;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 20px;
}

.contact-text {
  padding: 40px 60px 60px 60px;
  justify-content: center;
}

.faq-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  width: 684px;
  height: 130px;
  top: 315px;
  left: 69px;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 50px 0 50px;
  border: 1px solid #000;
  display: flex;
}

.faq-card.large-card {
  width: 684px;
  height: 170px;
}

.faq-card .faq-icon {
  margin-right: 30px;
  margin-left: 20px;
  font-size: 45px;
}

.faq-card h3 {
  font-size: 18px;
}

.faq-card p {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .faq-card {
    padding: 12px;
  }

  .faq-card .faq-icon {
    margin-right: 10px;
    margin-left: unset;
    font-size: 20px;
  }

  .faq-card h3 {
    font-size: 10px;
  }

  .faq-card p {
    font-size: 10px;
    line-height: 1.2;
  }

  .contact-text {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .forum-main {
    flex-direction: column !important;
  }

  .forum-left-card {
    margin: 2vw !important
  }
}

@media (max-width: 425px) {
  .forum-right-card {
    flex-direction: column !important;
  }
}

.error-btn {
  border: 1px solid #0b67ed;
  border-radius: 10px;
  margin: 25px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Roboto";
  cursor: pointer;
  background-color: #0b67ed;
  color: white;
  width: 300px;
  z-index: 2;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 800px) {
  .error-container {
    margin: 10px !important;
    height: 600px !important;
  }

  .error-title {
    transform: scale(0.7) translateX(-100px);
  }

  .error-subtitle {
    transform: scale(0.7) translateX(-60px);
  }

  .error-btn {
    transform: scale(0.7);
  }
}

@media (max-width: 600px) {
  .error-container {
    margin: 5px !important;
  }

  .error-title {
    transform: scale(0.6) translateX(-100px);
    width: 400px !important;
  }

  .error-subtitle {
    transform: scale(0.6) translate(-100px, -80px);
    width: 400px !important;
  }

  .error-btn {
    transform: scale(0.6) translate(-70px, -140px);
  }
}

@media (max-width: 425px) {
  .trade-history-card {
    width: 275px !important;
  }
}