@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import './aboutpage.scss';
@import './accountpage.scss';
@import './components.scss';
@import './forumpage.scss';
@import './homepage.scss';
@import './newspage.scss';
@import './tradepage.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.light {
  background-color: white;
  color: black;
  transition: all 0.8s ease-in;
}

.dark {
  background-color: #1c1c1c;
  color: lightgray;
  transition: all 0.8s ease-in;
}

a {
  text-decoration: none;
  color: blue;
}

.app {
  background-color: rgb(45, 44, 45);
  color: white;
  min-height: 100vh;
  z-index: 0;
}

.appbar-select {
  width: 100px;
  height: 40px;
  margin-left: 15px;
}

.page_number {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}