// trade page styling

.product-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .product-container {
        flex-direction: row;
    }
}



// chart styling

.screenshot-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-self: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.screenshot-popup img {
    max-height: 80vh;
    max-width: 80vw;
}

.screenshot-popup button {
    position: absolute;
    top: 0;
    right: 0.5vw;
    margin: 1vw;
    padding: 0.5vw 1vw;
    border: 0.2vw solid #ffff;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1vw;
    cursor: pointer;
    background-color: transparent;
    color: white;

    &:hover {
        transform: scale(1.1);
    }
}

.chart-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.symbols-dropdown {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 1.5vw 0 1vw 3vw;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.symbols-last-item{
    display: flex;
    flex-direction: row;
}

.chart-onboarding {
    margin: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chart-onboarding-icon {
    margin-right: 2px;
}

.onboarding-modal-img{
    height: 150%;
    width: 150%;
    cursor: pointer;
}

.onboarding-modal-imgbox{
    position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-75%, -50%);
          box-shadow: 24;
}

  .slideshow-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    outline: none;
  }
  
  .slideshow-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }  

.chart-area {
    margin: 0 1vw 5vw 1vw;
}


@media (max-width: 700px) {
    .onboarding-modal-imgbox {
        top: 35% !important;
    }
}



// prices styling

.pricecandle-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px 10px;
}

.pricetick-container {
    margin: 30px 10px 10px 10px;
}

.price-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px
}



// proposal styling

.proposal-fab {
    position: absolute;
    top: -720px;
    right: 0px !important;
}

.proposal-area {
    display: block;
}

.proposal-bottom-drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 999;
    display: none;
}

.proposal-ticks {
    display: flex;
    margin: 1vw;
    justify-content: center;
    align-items: center;
}

.proposal-ticks-txt {
    margin-right: 10px !important;
}

.duration-change-btn {
    box-sizing: border-box;
    flex: 1;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    background: #000;
    transform: translate(-50%, 0%);
    z-index: 2;
    accent-color: #0033ff;
}

.duration-change-slider {
    width: 100%;
}

.proposal-btn-fab {
    border-radius: 6px;
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 80vw;

    &.higher {
        border: 1px solid green;
        background-color: green;

        &:hover {
            background-color: rgb(1, 94, 1);
        }
    }

    &.lower {
        border: 1px solid red;
        background-color: red;

        &:hover {
            background-color: rgb(189, 1, 1);
        }
    }
}

.proposal-btn-choices-fab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proposal-btn-span {
    display: flex;
    align-items: center;
}

.processing {
    background-color: gray !important;
    border: 1px solid gray !important;
}

.proposal-btn-buy {
    border-radius: 6px;
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 16vw;

    &.higher {
        border: 1px solid green;
        background-color: green;

        &:hover {
            background-color: rgb(1, 94, 1);
        }
    }

    &.lower {
        border: 1px solid red;
        background-color: red;

        &:hover {
            background-color: rgb(189, 1, 1);
        }
    }
}

.proposal-input-txt {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.proposal-btn-group {
    display: flex;
    margin: 0 1vw;
}

.proposal-options {
    border: 1px solid #0033ff;
    border-radius: 0.5vw;
    margin: 0.2vw;
    padding: 0.5vw 1vw;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
}

.proposal-card {
    background-color: rgb(177, 194, 233);
    margin: 15px;
    margin-right: 35px;
    border-radius: 10px;
    padding: 10px;
    line-height: 135%;
}

.proposal-btn-icon {
    margin-left: 10px;
}

.proposal-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.proposal-input-btn {
    width: 10%;
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;

    &.right {
        border-top-right-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
        font-size: 20px;
        padding: 10px;
    }

    &.left {
        border-top-left-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        font-size: 20px;
        padding: 10px;
    }

    &:hover {
        background-color: rgb(241, 245, 247);
        border: 0.2vw solid black;
    }
}

.proposal-input-field {
    width: 80%;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quote-price-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 24;
    padding: 20px;
    display: flex;
    align-items: center;
}

.quote-price-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .quote-price-txt {
//     font-size: 10px;

//     &.higher {
//         color: green;
//     }

//     &.lower {
//         color: red;
//     }
// }

.quote-price-img {
    height: 80px;
    margin: 16px;
}

.trade-history-navbox {
    display: flex;
    justify-content: flex-end;
    color: #0033ff;
    margin: 10px;
}

.trade-history-nav {
    font-size: 14px;
    cursor: pointer;
}

.proposal-summary-card {
    margin: 10px;
    padding: 10px;
}

.proposal-summary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proposal-summary-total {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.proposal-login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.proposal-login-link {
    cursor: pointer;
    color: #0033ff;
}

@media (min-width: 1024px) {
    .proposal-card {
        margin-right: 15px;
    }
}

@media (max-width: 518px) {
    // .proposal-fab {
    //     display: block;
    // }

    .proposal-bottom-drawer {
        display: block;
    }

    .proposal-area {
        display: none;
    }
}

@media (max-width: 425px) {
    .quote-price-modal {
        transform: scale(0.5) translate(-500px, -250px) !important;
    }
}